[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 120

[*.json]
indent_size = 2

[*.{kt,kts}]
ktlint_code_style = intellij_idea
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
ij_kotlin_name_count_to_use_star_import = 100
ij_kotlin_name_count_to_use_star_import_for_members = 100

[*.properties]
ij_properties_keep_blank_lines = true

[settings.gradle.kts]
max_line_length = off

[build/**/*]
ktlint = disabled
